/* 
=============================
    import-, Google-fonts : 
=============================
*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500|Frank+Ruhl+Libre:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:500,700,900&display=swap&subset=latin-ext');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #EBEBEB;
}

.wrapper {
    max-width: 1000px;
    background: #EBEBEB;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "welcome welcome welcome learn learn learn"
                         "welcome welcome welcome join join join"
                         ". navigation navigation navigation navigation ."
                         "info info info info info info"
                         "cards cards cards cards cards cards"
                         "about about about about about about"
                         "how how how how how how"
                         "up up up up up up"
                         "footer footer footer footer footer footer";
}

h1, h2, h3 {
    font-family: 'Frank Ruhl Libre', serif;
}

h1 {
    font-size: 2.6rem;
    margin: 0;
    color: #fff;
}

h2 {
    font-size: 2.2rem;
    margin: 0;
    color: #fff;
}
  
p {
    font-family: 'Fira Sans', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    line-height: 1.5;
}

.join-button {
    background: #fff;
    text-transform: uppercase;
    padding: 0 2rem;
    height: 2.5rem;
    border-radius: 999rem;
    box-shadow: 0 2px 0 rgba(0,0,0,.1);
}
  

.welcome {
    height: 35rem;
    grid-area: welcome;
    background: #C7DDEA url("../img/family.png") no-repeat;
    background-position: 90% bottom;
    background-size: 60%;
    padding: 4rem;
}

.welcome h1 {
    max-width: 280px;
    color: #000000;
}

.welcome p {
    max-width: 280px;
    margin-bottom: 3rem;
}

.welcome span {
    color: #fff;
}

.learn {
    grid-area: learn;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F17949;
    min-height: 15rem;
}

.join {
    grid-area: join;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAB131;
    min-height: 15rem;
}

.menu {
    grid-area: navigation;
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
    background: #EBEBEB;
}

.menu__item {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

.active {
    color: #000000;
}

.info {
    grid-area: info;
    background: #A9A19E;
    display: flex;
    height: 40rem;
}

.info__join {
    max-width: 500px;
    padding: 5rem;
}

.info__join h1 {
     margin-bottom: 3rem;
}

.info__text {
    max-width: 420px;
    padding: 5rem;
}

.cards {
    grid-area: cards;
    background: #FAB131;
    display: flex;
    padding: 2rem 2rem 0rem 2rem;
    margin-bottom: -10rem;
    flex-wrap: wrap;
}

.card {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    align-items: center;
    padding: 1rem;
    margin: .6rem;
    transform: translateY(-200px);
    width: 275px;
}

.card .children, .card .just-right, .card .old-fart {
    width: 100%;
    height: 10rem;
    transform: translateY(-50px);
    box-shadow: 0 0 2rem rgba(0, 0 ,0 , 0.2);
    border-radius: 4px;
}

.card .children {
    background: #C7DDEA url(../img/child.png) no-repeat;
    background-position: center -30%;
    background-size: 40%;
}

.card .just-right {
    background: #FAB131 url(../img/adult.png) no-repeat;
    background-position: center -2%;
    background-size: 40%;
}

.card .old-fart {
    background: #F17949 url(../img/old.png) no-repeat;
    background-position: center -7%;
    background-size: 60%;
}

.card h3 {
    margin: 0;
}

.card p {
    font-size: 0.7rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
}

.about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 8rem;
    background: #FAB131;
}

.about h2, .about p {
    max-width: 500px;
}

.about h2 {
    margin-bottom: 1rem;
}

.about p {
    margin: 1rem;
}

.how {
    grid-area: how;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
}

.how .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-bottom: 16rem;
    position: relative;
}

.box:nth-child(1) {
    background: #C7DDEA;
}

.box:nth-child(3) {
    background: #EBEBEB;
}

.box:nth-child(5) {
    background: #F17949;
}

.box aside {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.5rem;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.4);
}

.box h2 {
    color: #000000;
    text-align: center;
}

.up {
    grid-area: up;
    background: #A9A19E;
    height: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    height: 20rem;
    background: #777574;
}

@media only screen and (max-width: 700px) {
    .wrapper {
        grid-template-columns: 100%;
        grid-template-areas: "welcome"
                            "learn"
                            "join"
                            "navigation"
                            "info"
                            "cards"
                            "about"
                            "how"
                            "up"
                            "footer";
    }

    .info__text {
        display: none;
    }

    .card {
        margin: 2rem 1rem;
    }
}